.bg-2 {
	  padding-top: 60px;
	  padding-bottom: 30px;
      background: white;
      color: #006400;
      
  }
.bg-2 h3 {
	color: #006400;
	padding-top: 5px;
	}
.bg-2 h4 {
	color: #006400;
	padding-top: 1px;
	}
.bg-2 p {
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: justify;
	}
.bg-2 img {
	width: 100%; /* Set width to 100% */
    margin: auto;
    }

.row {
	padding-top: 50px
}