<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="site-head">
		<meta charset="utf-8"/>
  		<link rel="stylesheet"
  		 		href="../static/js/bower/bootstrap/styles/bootstrap.min.css"
  				th:href="@{/js/bower/bootstrap/styles/bootstrap.min.css}"/>
  		<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
  		<link rel="icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}" />	  				
  		<script src="../static/js/bower/requirejs/require.js" th:src="@{/js/bower/requirejs/require.js}"></script>
		<script src="../static/js/config.js" th:src="@{/js/config.js}"></script>
		<link rel="stylesheet" href="../static/css/index.css" th:href="'/css/' +${page} + '.css'" />
		<script src="../static/js/index.js" th:src="'/js/'+${page}+'.js'"></script>
	</head>
	
	<body>	
		<nav th:fragment="site-navbar" class = "navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">Wash Speed</a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="/#home">Trang Chủ</a></li>
			        <li><a href="/#about">Giới thiệu</a></li>
			        <li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dịch vụ
			            <span class="caret"></span>
			          </a>
			          <ul class="dropdown-menu">
			            <li><a href="/#product">Các dịch vụ nổi bật</a></li>
			            <li><a href="/product#wash-helmet">Giặt nón</a></li>
			            <li><a href="/product#fix-helmet">Sửa nón</a></li>
			            <li><a href="/product#ads-helmet">Quảng cáo</a></li>
			            <li><a href="/product#franchise">Nhượng quyền</a></li>
			          </ul>
			        </li>
			        <li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mạng lưới
			            <span class="caret"></span>
			          </a>
			          <ul class="dropdown-menu">
			            <li><a href="/contruct">Washspeed Tân An</a></li>
			            <li><a href="/contruct">Washspeed Bến Tre</a></li>
			          </ul>
			        </li>
			        <li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tin tức
			            <span class="caret"></span>
			          </a>
			          <ul class="dropdown-menu">
			            <li><a href="/contruct">Tin mới</a></li>
			            <li><a href="/contruct">Nội bộ</a></li>
			          </ul>
			        </li>
			        <li><a href="/contact">Liên hệ</a></li>
			      </ul>
			    </div>
		    </div>
		</nav>
		
		<div id="myCarousel" th:fragment="site-myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
				<ol class="carousel-indicators">
				    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				    <li data-target="#myCarousel" data-slide-to="1"></li>
				    <li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

			  	<!-- Wrapper for slides -->
			  	<div class="carousel-inner" role="listbox">
				    <div class="item active">
				      <img src="../static/img/banner1.png" 
				      		th:src="@{/img/banner1.png}" alt="Banner 1"/>
				    </div>
			
				    <div class="item">
					    <img src="../static/img/banner2.png" 
					    		th:src="@{/img/banner2.png}" alt="Banner 2"/>
				    </div>
			
				    <div class="item">
					    <img src="../static/img/banner3.png" 
					    		th:src="@{/img/banner3.png}" alt="Banner 3"/>
				    </div>
			  </div>
		
			  <!-- Left and right controls -->
			  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
		</div>
		
		<div id="about" th:fragment="site-about" class="container text-center">
			<h3>WASH SPEED</h3>
  			<p><em>Dịch vụ giặt nón bảo hiểm </em></p>
  			<p class="text-justify">Từ ngày 15/12/2007, Nghị quyết 32 được Chính phủ 
  			ban hành về “một số giải pháp cấp bách nhằm kiềm chế tai nạn giao thông 
  			và ùn tắc giao thông”; theo đó, người đi mô tô, xe máy bắt buộc phải đội
  			mũ bảo hiểm trên tất cả các tuyến đường. Thời gian bắt buôc đội mũ 
  			bảo hiểm đã gần 10 năm. Việc đội mũ bảo hiểm khi tham gia giao thông
			ngoài việc thể hiện ý thức tôn trọng pháp luật mà còn đảm bảo an toàn 
			cho người tham gia giao thông bằng xe mô tô, xe máy, xe đạp điện,… 
			Ngày nay, đội mũ bảo hiểm đã trở thành thói quen của người dân và nón 
			bảo hiểm đã trở thành “thời trang” không thể thiếu của nhiều người khi 
			tham gia giao thông. Như chúng ta đã biết, khi nón bảo hiểm không được 
			vệ sinh thường xuyên có thể gây hại cho tóc và da dầu của bạn. Nắm bắt 
			được nhu cầu về vệ sinh và diệt khuẩn trên nón bảo hiểm, để hạn chế các
			chứng bệnh về tóc và da đầu. Chúng tôi xin giới thiệu công nghệ và kỹ 
			thuật lần đầu tiên xuất hiện tại Việt Nam - “Dịch vụ giặt nón bảo hiểm - 
			Wash Speed”.</p>
			<div class="row">
    			<div class="col-sm-4">
      				<p><strong>SẠCH SẼ</strong></p><br/>
      				<a href="#slogan1" data-toggle="collapse">
						<img src="../static/img/clean.png" th:src="@{/img/clean.png}" 
      					class="img-circle slogan" alt="SẠCH SẼ"/>      				
      				</a>
      				<div id="slogan1" class="collapse">
      					<p>Sạch bụi bẩn, dầu mỡ</p>
      					<p>Sạch mùi hôi</p>
      					<p>Sạch vi khuẩn, nấm mốc</p>
      				</div>
    			</div>
    			<div class="col-sm-4">
      				<p><strong>AN TOÀN</strong></p><br/>
      				<a href="#slogan2" data-toggle="collapse">
      					<img src="../static/img/protect.png" th:src="@{/img/protect.png}"
      					class="img-circle slogan" alt="AN TOÀN"/>
      				</a>
      				<div id="slogan2" class="collapse">
      					<p>An toàn giao thông</p>
      					<p>An toàn đầu tóc</p>
      					<p>An toàn sức khỏe</p>
      				</div>
    			</div>
    			<div class="col-sm-4">
      				<p><strong>NHANH CHÓNG</strong></p><br/>
      				<a href="#slogan3" data-toggle="collapse">
						<img src="../static/img/fast.png" th:src="@{/img/fast.png}"
      					class="img-circle slogan" alt="NHANH CHÓNG"/>      				
      				</a>
      				<div id="slogan3" class="collapse">
      					<p>Nhanh chóng giặt rửa</p>
      					<p>Nhanh chóng sữa chữa</p>
      					<p>Nhanh chóng phục vụ</p>
      				</div>
    			</div>
  			</div>
		</div>
		
		<div id="product" th:fragment="site-product" class="bg-1">
			<div class="container">
			    <h3 class="text-center">DỊCH VỤ</h3>
			    <p class="text-center">Chúng tôi cung cấp các dịch vụ sau đây!</p>	    
			    <div class="row text-center">
				  <div class="col-sm-3">
				    <div class="thumbnail">
				      <img src="../static/img/wash-helmet.png" th:src="@{/img/wash-helmet.png}" alt="Giặt nón"/>
				      <p><strong>Giặt nón</strong></p>
				      <a href="/product#wash-helmet" class="btn">Chi tiết</a>
				    </div>
				  </div>
				  <div class="col-sm-3">
				    <div class="thumbnail">
				      <img src="../static/img/fix-helmet.png" th:src="@{/img/fix-helmet.png}" alt="Sửa nón"/>
				      <p><strong>Sửa chữa</strong></p>
				      <a href="/product#fix-helmet" class="btn">Chi tiết</a>
				    </div>
				  </div>
				  <div class="col-sm-3">
				    <div class="thumbnail">
				      <img src="../static/img/ads-helmet.png" th:src="@{/img/ads-helmet.png}" alt="Quảng cáo"/>
				      <p><strong>Quảng cáo</strong></p>
				      <a href="/product#ads-helmet" class="btn">Chi tiết</a>
				    </div>
				  </div>
				  <div class="col-sm-3">
				    <div class="thumbnail">
				      <img src="../static/img/franchise.png" th:src="@{/img/franchise.png}" alt="Nhượng quyền"/>
				      <p><strong>Nhượng quyền</strong></p>
				      <a href="/product#franchise" class="btn">Chi tiết</a>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		
		<div th:fragment="product-detail" class="bg-2">
			<div class="container">
			    <div id="wash-helmet" class="row text-center">
				  <div class="col-sm-4">
				  	<div class="thumbnail">
				  		<h3><strong>GIẶT NÓN:</strong></h3>
						<img src="../static/img/wash-helmet.png" th:src="@{/img/wash-helmet.png}" alt="Giặt nón"/>
					</div>
				  </div>
				  <div class="col-sm-8">
				    <div class="thumbnail">
			    		<p><strong>Giải pháp vệ sinh, diệt khuẩn của chúng tôi là:</strong></p>
			    		<p>- Công nghệ <strong>GIẶT SẤY LẤY LIỀN</strong> (nhanh chóng và tiện lợi): 
			    		nón bảo hiểm của Quý khách sẽ được giặt riêng và làm khô 
			    		trong vòng 10 phút. Bạn không cần phải lo lắng mất thời 
			    		gian giặt nón bằng tay và phơi khô bằng nắng mất nhiều 
			    		thời gian, đặc biệt là khi thời tiết xấu.</p>
			    		<p>- Cùng với sấy khô, công nghệ <strong> KHỬ TRÙNG BẰNG TIA CỰC TÍM (UV)</strong>: 
			    		đảm bảo nón bảo hiểm sẽ được loại bỏ vi khuẩn cũng như mùi hôi khó 
			    		chịu bằng tia cực tím. Quý khách sẽ không còn lo ngại vi khuẩn cư 
			    		trú trên nón bảo hiểm gây ra chứng ngứa da đầu và rụng tóc.</p>
			    		<p>- Giá dịch vụ giặt nón bảo hiểm phù hợp, từ <strong> 15.000 đồng đến 30.000 
			    		đồng/nón/lần giặt.</strong></p>
				    </div>
				  </div>
				</div>
				<div id="fix-helmet" class="row text-center">
				  <div class="col-sm-8">
						<h3><strong>SỬA CHỮA:</strong></h3>
			    		<p><strong>Chúng tôi cung cấp các dịch vụ sữa chữa sau:</strong></p>
			    		<p>- Thay kính (tùy theo loại từ 10.000 đồng - 20.000 đồng)</p>
			    		<p>- Thay chốt khóa (tùy theo loại từ 10.000 đồng - 20.000 đồng)</p>
			    		<p>- Thay dây đeo (tùy theo loại từ 10.000 đồng - 20.000 đồng)</p>
			    		<p>- Thay miếng lót nón (tùy theo loại từ 10.000 đồng - 20.000 đồng)</p>
				  </div>
				  <div class="col-sm-4">
				    <div class="thumbnail">
				    	<img src="../static/img/fix-helmet.png" th:src="@{/img/fix-helmet.png}" alt="Sửa nón"/>
				    </div>
				  </div>
				</div>
				<div id="ads-helmet" class="row text-center">
				  <div class="col-sm-4">
				  	<div class="thumbnail">
						<h3><strong>QUẢNG CÁO:</strong></h3>
						<img src="../static/img/ads-helmet.png" th:src="@{/img/ads-helmet.png}" alt="Quảng cáo"/>
					</div>
				  </div>
				  <div class="col-sm-8">
				    <div class="thumbnail">
			    		<p><strong>Nhận thiết kế và in lo-go của doanh nghiệp lên nón bảo hiểm 
			    		theo yêu cầu, giá cạnh tranh:</strong></p>
			    		<p>- Là công cụ hữu hiệu để giới thiệu sản phẩm, thương hiệu công ty.</p>
			    		<p>- Là món quà tri ân ý nghĩa.</p>
			    		<p>- Là trang bị đồng phục cho nhân viên.</p>
			    		<p>- Chúng tôi cam kết có sản phẩm chất lượng, mẫu mã đẹp và sự phục vụ tốt nhất.</p>
				    </div>
				  </div>
				</div>
				<div id="franchise" class="row text-center">
				  <div class="col-sm-8">
						<h3><strong>NHƯỢNG QUYỀN:</strong></h3>
			    		<p><strong>Gói dịch vụ nhượng quyền:</strong></p>
			    		<p>- Tư vấn, thiết kế, xây dựng cửa hàng (ki-ốt) 
			    		theo mặt bằng của đối tác, diện tích chuẩn 6m2 (3m x 2m).</p>
			    		<p>- Cung cấp máy móc, thiết bị, phầm mềm quản lý bán hàng, 
			    		đồng phục nhân viên,… cho đối tác nhượng quyền.</p>
			    		<p>- Hỗ trợ đào tạo, huấn luyện nghiệp vụ cho nhân viên 
			    		vận hành tốt quy trình giặt nón bảo hiểm.</p>
			    		<p>- Bảo trì, bảo hành,… thường xuyên và định kỳ đảm bảo 
			    		máy móc, thiết bị hoạt động hiệu quả.</p>
			    		<p>- Chi tiết về nội dung nhượng quyền, vui lòng 
			    		liên hệ với chúng tôi để được tư vấn trực tiếp. 
			    		Hotline: <a href="tel:0933 379 838">0933 379 838</a></p>
				  </div>
				  <div class="col-sm-4">
				    <div class="thumbnail">
				    	<img src="../static/img/franchise.png" th:src="@{/img/franchise.png}" alt="Nhượng quyền"/>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		
		<div th:fragment="site-contact" class="bg-2" id="contact">
			<div class="container">
			    <br/>
			    <div id="googleMap" class="grayscale" style="width:100%;height:420px;"></div>
			    <br/>
			    <p>Quý khách có thể đến sử dụng dịch vụ của chúng tôi tại:</p>
			    <p><b>- Wash Speed - Coopmart Tân An: 01 Mai Thị Tốt, Phường 2, Tp. Tân An, Long An </b></p>
			    <p><b>- Wash Speed - Trung tâm thương mại Sense City Bến Tre: 6A Trần Quốc Tuấn, P.4, Tp. Bến Tre, Tỉnh Bến Tre </b></p>
			    <p>Các bạn cũng có thể liên hệ với chúng tôi qua <a href="mailto:washspeeds@gmail.com">washspeeds@gmail.com</a> hoặc Điện thoại: 
			    	<a href="tel:0933379838">0933 379 838</a> / <a href="tel:01239038939">01239 038 939</a></p>
  			</div>
  		</div>
  		
  		<div th:fragment="site-contruct" class="bg-2" id="contact">
			<div class="container">
			    <br/>
			    	<img src="../static/img/contruct.png" th:src="@{/img/contruct.png}" alt="Đang xây dựng"/>
			    <br/>
			   
  			</div>
  		</div>

		<footer th:fragment="site-footer" class="text-center">
			<a class="up-arrow" href="#top" data-toggle="tooltip" title="Đầu trang">
		    <span class="glyphicon glyphicon-chevron-up"></span>
		  	</a><br/><br/>
		  	<p> &copy; Copyright 2017, Design &amp; Coding by <a href="https://www.facebook.com/" title="https://www.facebook.com/tuonglamn" target="_blank">Turquoise Nguyen</a></p>
		</footer>
	</body>

</html>